<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="top">
        <div class="top__detail">
            <h2 class="top__sub">やることリスト</h2>
            <h1 class="top__ttl">Todo App</h1>
            <p class="top__description">
                Todo Appはやることをリストアップするサービスです。<br>
                やることをリストに追加してみましょう。
            </p>
            <p class="top__indexBtn"><a href="/index" class="top__more">一覧を見る</a></p>
        </div>
        <div class="top__pic">
            <img src="/images/top.jpg" alt="メモと猫">
        </div>
    </div>

</body>

</html>